body {
    background: #0f0f0f;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile,#repoSection,.loader,#errSection{display: none;}

.repo{display: flex;background-color: #222;}

#language{font-size: 13px;}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}